@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: "Poppins", sans-serif;
  --main-white: #fff;
  --main-dark: rgb(75, 85, 99);
  --main-grey: #f6fbff;
  --light-blue: #4499cd;
  --dark-blue: #1379ce;
  --transition: 0.5s ease;
  --dark-pink: #ff6483;
  --light-grey: #f7f7f7;
}

/* aos library */
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  @apply text-xs md:text-sm;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-dark);
}

header section {
  height: 80vh;
}

/* at landscape orientation and phone view */
@media (orientation: landscape) and (max-height: 500px) {
  body {
    @apply text-xs;
  }

  header section {
    min-height: 100vh !important;
  }

  header section .img_container {
    @apply w-[250px];
  }

  header h1 {
    @apply !text-3xl;
  }

  header blockquote {
    @apply !text-base;
  }
}

@media (max-height: 667px) {
  header section {
    min-height: 80vh;
  }
}

/* height between 800 and 1280 and portrait */
@media (orientation: portrait) and (max-height: 1280px) and (min-height: 800px) {
  header section {
    height: 40vh !important;
  }

  header section .img_container {
    @apply w-[350px];
  }
}

@media (orientation: portrait) and (max-height: 1080px) {
  header section {
    height: 70vh !important;
  }
}

.second_font {
  font-family: "Dancing Script", cursive;
}

.hero {
  background: url("/hero.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* buttons styling */
.main_btn {
  @apply p-4 relative overflow-hidden z-[1];
}

.main_btn.transparent {
  outline: 1px solid white;
  background: transparent;
  color: white;
  transition: color var(--transition);
}

.main_btn.transparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  width: 100%;
  height: 100%;
  transform: skewX(25deg) scaleX(0);
  z-index: -1;
  background: white;
  transition: transform var(--transition);
}

.main_btn.transparent:hover {
  color: var(--main-dark);
}

.main_btn.transparent:hover::before {
  transform: skewX(25deg) scaleX(2);
}

.main_btn.filled {
  background: white;
  color: var(--main-dark);
  transition: var(--transition);
}

.main_btn.filled:hover {
  transform: translateY(-5px);
}

.img_small {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* universal padding */
.universal {
  @apply px-12 sm:px-24 md:px-32 lg:px-48 xl:px-56;
}

/* social media icons at mobile */
@media (max-width: 420px) {
  .link_icons {
    @apply w-24;
  }
}

.logo {
  outline: 1px solid var(--main-dark);
}

.title_text {
  color: var(--dark-blue);
}

.picture_about {
  height: 400px;
  width: 300px;
  background-image: url("/doc2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MuiAccordion-gutters {
  box-shadow: none !important;
  background: var(--light-grey) !important;
  color: var(--main-dark) !important;
}

.MuiAccordionSummary-root {
  min-height: 24px !important;
  color: var(--dark-blue) !important;
  font-weight: 500 !important;
}

@media (max-width: 900px) {
  .about_grid {
    flex-direction: column;
  }

  .picture_about {
    width: 100%;
  }
}
